/*
** HTML elements
*/
body {
  color: #000;
  font: 76% Verdana, Arial, Helvetica, sans-serif;
  background:url('images/bg.png') #FFF repeat-x;
}
tr.odd td, tr.even td {
  padding: 0.3em;
}
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.5em;
}
h1 {
  font-size: 45px;
}
h2 {
  font-size: 1.2em;
}
h3, h4, h5, h6 {
  font-size: 1.1em;
}
p {
  margin-top: 0.5em;
  margin-bottom: 0.9em;
}
a {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2em;
}
a:link {
  color: #39c;
}
a:visited {
  color: #369;
}
a:hover {
  color: #39c;
  text-decoration: underline;
}
fieldset {
  border: 1px solid #ccc;
}
pre {
  background-color: #eee;
  padding: 0.75em 1.5em;
  font-size: 12px;
  border: 1px solid #ddd;
}
.form-item label {
  font-size: 1em;
  color: #222;
}
.item-list .title {
  font-size: 1em;
  color: #222;
}
.links {
  margin-bottom: 0;
}
.comment .links {
  margin-bottom: 0;
}

/*
** Page layout blocks / IDs
*/

#wrapper {
 width:980px;
 margin:auto;	
}
#main {
 float:left;
 width:700px;
}
.search-box {
 text-align:right;
}
.form-submit {
 background:#E7E7E7;
 border:1px solid #9c9c9c;
}
#sidebar-left .form-submit{
 background:#DDD;	
}
#main .inner {
 padding: 0 26px 0 26px;
}
#sidebar-left, #sidebar-right {
 width: 250px;
 padding: 0;
 vertical-align: top;
 font-size:11px;
}
#sidebar-left {
float:left;	
}
#sidebar-right {
float:right;
border-left:1px solid #ADADAD;
border-right:1px solid #ADADAD;
}
#sr2 {
 position:relative;
 left:-1px;
 top:-20px;
display:block;
 width:150px;
 background:url('images/barfadetop.png') no-repeat ;
}
#sr3 {
display:block;
 width:150px;
 background:url('images/barfadetop.png') right top no-repeat;
}
#sr4 {
background:url('images/barfadebottom.png') left bottom no-repeat;
display:block;
 width:150px;
 position:relative;
 padding-bottom:50px ;
 margin-bottom:-20px;
}
#sr5 {
 background:url('images/barfadebottom.png') right bottom no-repeat;
 display:block;
 width:140px;	
 padding:20px 5px 80px 5px;
 margin-bottom:-50px;
 position:relative;
}
#header {
 background: url('images/header.jpg') no-repeat;
 height:95px;
 display:block;
}
#logo img {
 float:left;

}
.site-name {
 margin:15px 0 0 0;
 padding:0 45px 0 30px;
 font-size:25px;
 float: right;
}
.site-name a:link, .site-name a:visited {
 color: #E7E7E7;
 font-weight:lighter;
}
.site-name a:hover {
 color: #BBBBBB;
 text-decoration: none;
}
.site-slogan {
  font-size: 1em;
  color: #eee;
  display: block;
  margin-left: 32px;
  font-style: italic;
  font-weight: bold;
  padding-top: 30px;
  float: right;
}
.search-box {
float:right;
margin:35px 0 0 0;
}
#menu {
 padding: 0.5em 0.5em 0 0.5em;
 text-align: right;
 vertical-align: middle;
}
#primary{
 display:block;
 height:28px;
 border:1px solid #7D7D7D;
 background:url('images/top-nav.png');
 font-size: 13px;
 margin:0 0 22px 0;
}
#header-region {
 clear: both;
}
#primary a {
 padding:5px;
 min-width:100px;
 display:block;
 float:left;
 text-align:center;
 background:url('images/top-nav-right.png') right no-repeat;
 color:#000;
 font-weight:lighter;
}
#primary a:hover {
 background:url('images/selected-nav.png') ;
 text-decoration:none;
 height:18px;
}
#subnavlist .links {
 padding: 0 1.2em;
 font-size: 0.8em;
 color: #000;
}
#subnavlist a {
 color: #000;
 font-weight:normal;
}
ul.links li {
 border-left: 1px solid #9cf;
}
#primary ul.links li {
 border-left: 0;
 display:normal;
 padding:0;
}
ul.links li.first {
 border: none;
}
#search .form-text, #search .form-submit {
 border: 1px solid #9C9C9C;
 font-size: 1.1em;
 vertical-align: middle;
}
#search .form-submit{
 height:20px;
}
#search .form-text {
 width: 8em;
 padding: 0 0.5em;
 height:18px;
}
#mission { 
 padding: 1em;
 margin:0 26px 0 26px;
 color: #000;
 border:1px solid #CECECE;
}
#mission a, #mission a:visited {
 color: #9cf;
 font-weight: bold;
}
#mission, .node .content, .comment .content {
 line-height: 1.4em;
}
#help {
 font-size: 0.9em;
 margin-bottom: 1em;
}
.breadcrumb {
 margin-bottom: .5em;
}
.messages {
 background-color: #eee;
 border: 1px solid #ccc;
 padding: 0.3em;
 margin-bottom: 1em;
}
.error {
 border-color: red;
}
#footer {
 padding: 1em;
 font-size: 0.8em;
 width:800px;
 margin:auto;
 text-align:center;
}
.title, .title a {
 font-weight: bold;
 font-size: 1.3em;
 color: #333;
 margin: 0 auto;  /* decrease default margins for h<x>.title */
}
.submitted {
 color: #999;
 font-size: 0.8em;
}
.links {
 color: #999;
}
.block, .box {
 padding: 0 0 1.5em 0;
}
#sidebar-left .block{
 border:1px solid #9C9C9C;
 background:#E7E7E7;
}
.block {
 border-bottom: 1px solid #bbb;
 padding: 5px;
 margin-bottom: 1.5em;
 display:block;
}
.block .title {
 font-size:13px;
 margin-bottom: 10px;
}
.box .title {
 font-size: 0.9em;
}
.node {
 margin: .5em 0 2em 0;
}
.node .content, .comment .content {
 margin: .5em 0 .5em 0;
}
.node .taxonomy {
 color: #999;
 font-size: 0.8em;
 padding-left: 1.5em;
}
.node .picture {
 border: 1px solid #ddd;
 float: right;
 margin: 0.5em;
}
.comment {
 border: 1px solid #abc;
 padding: .5em;
 margin-bottom: 1em;
}
.comment .title a {
 font-size: 1.1em;
 font-weight: normal;
}
.comment .new {
 text-align: right;
 font-weight: bold;
 font-size: 0.8em;
 float: right;
 color: red;
}
.comment .picture {
 border: 1px solid #abc;
 float: right;
 margin: 0.5em;
}
/*
** Module specific styles
*/
#aggregator .feed-source {
 background-color: #eee;
 border: 1px solid #ccc;
 padding: 1em;
 margin: 1em 0;
}
#aggregator .news-item .categories, #aggregator .source, #aggregator .age {
 color: #999;
 font-style: italic;
 font-size: 0.9em;
}
#aggregator .title {
 margin-bottom: 0.5em;
 font-size: 1em;
}
#aggregator h3 {
 margin-top: 1em;
}
#forum table {
 width: 100%;
}
#forum td {
 padding: 0.5em;
}
#forum td.forum, #forum td.posts {
 background-color: #eee;
}
#forum td.topics, #forum td.last-reply {
 background-color: #ddd;
}
#forum td.container {
 background-color: #ccc;
}
#forum td.container a {
 color: #555;
}
#forum td.statistics, #forum td.settings, #forum td.pager {
 height: 1.5em;
 border: 1px solid #bbb;
}
#forum td .name {
 color: #96c;
}
#forum td .links {
 padding-top: 0.7em;
 font-size: 0.9em;
}
#profile .profile {
 clear: both;
 border: 1px solid #abc;
 padding: .5em;
 margin: 1em 0em;
}
#profile .profile .name {
 padding-bottom: 0.5em;
}
.block-forum h3 {
 margin-bottom: .5em;
}
div.admin-panel .description {
 color: #999;
}
div.admin-panel .body {
 background: #f4f4f4;
}
div.admin-panel h3 {
 background-color: #69c;
 color: #fff;
 padding: 5px 8px 5px;
 margin: 0;
}
#block-user-1{
 padding:0;	
}
#block-user-1 h2 {
 background:#CECDCE;
 margin:0;
 width:146px;
 display:block;
 padding:11px 0 11px 0;
 text-align:center;
 font: 12px Verdana, Arial, Helvetica, sans-serif;
 border-bottom:#9C9C9C 1px solid;
}
#block-user-1 a{
 padding:11px 0 11px 0;
 width:146px;
 text-align:center;
 display:block;
 font: 12px Verdana, Arial, Helvetica, sans-serif;
 color:#000;
}
#block-user-1 a:hover{
 text-decoration:none;
 background:#DBDBDB;
}
#block-user-1 li{
 list-style-type:none;
 list-style-image:none;
 margin:0;
 padding:0;
}
#block-user-1 .expanded .collapsed a, #block-user-1 .expanded .expanded a{
 border-left:5px #9C9C9C solid;
 width:143px;
}
#block-user-1 .expanded .expanded .leaf a, #block-user-1 .expanded .expanded .expanded a{
 border-left:10px #9C9C9C solid;
 width:138px;
}
#block-user-1 ul{
 padding:0;	
}
.node img{
 border:1px solid #CECECE; padding:3px;
}
.poll .bar {
 background:#E7E7E7;
 border:#9C9C9C 1px solid;
}
.poll .bar .foreground{
 background:#CECDCE;
 border-right:#9C9C9C 1px solid;
}
.block-image IMG{
 border:1px solid #CECECE; padding:3px;
}
.block-user .item-list ul li{
 list-style-type:none;
 margin:0;
 margin-top:5px;
}
.block-user .item-list ul{
 padding:0;
}
/* rounded corner boxes */    
    /* Show only to IE PC \*/
* html .boxhead h2 {height: 1%;} /* For IE 5 PC */

.sidebox {
	
	width: 17ems; /* ems so it will grow */
	background: url(images/sbbody-r.gif) no-repeat bottom right;
	font-size: 100%;
}
.boxhead {
	background: url(images/sbhead-r.gif) no-repeat top right;
	margin: 0;
	padding: 0;
	text-align: center;
}
.boxhead h2 {
	background: url(images/sbhead-l.gif) no-repeat top left;
	margin: 0;
	padding: 22px 30px 5px;
	color: white; 
	font-weight: bold; 
	font-size: 1.3em; 
	line-height: 1em;
	text-shadow: rgba(0,0,0,.4) 0px 2px 5px; /* Safari-only, but cool */
	font-family: helvetica;
}
.boxbody {
	background: url(images/sbbody-l.gif) no-repeat bottom left;
	margin: 0;
	padding: 5px 10px 31px 25px;
}
.boxbody ul {
list-style: none;
}

ul.menu {
list-style: none;
}
